body { 
  background: #ccc;
  font-family: helvetica, arial, serif;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
  position: relative;
  text-align: left;
}


.nav {
  position: relative;
  background-color: #2B2B2B; 
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px #0E0E0E;
  -webkit-box-shadow: 2px 2px 3px #888;
  -moz-box-shadow: 2px 2px 3px #888;
  box-shadow: 2px 2px 3px #888;
  height: 56px;
}

.title {
  display: inline;
  padding: 20px 30px;
  border-right: 1px solid #3D3D3D;
  color: white;
  margin-right: 50px;
  border-right: 0px;
  float: left;
}

.menu li {
  display: inline-block;
}

.menu li a {
  display: block;
  padding: 20px 30px;
  border-right: 1px solid #3D3D3D;
}

ul.menu li a:hover {
  color: #000;
}

ul.menu li:first-child a {
  border-left: 1px solid #3D3D3D;
}

ul.menu li:hover a {
  background: #fff;
  color: #666;
  text-shadow: none;
}

ul.menu li:hover > a{
  color: #000;
} 

@media only screen and (max-width: 800px) {
  .nav .menu {
	display: none;
  }
  
  .nav:hover .title {
	position: absolute;
	display: block;
	background: #777;
  }
  
  .nav:hover .menu ul {
	float: none;
  }
  
  .nav:hover .menu li {
	display: block;
  }
  
  .nav:hover .menu li a{
	background: #fff;
    color: #666;
    text-shadow: none;
	border: none;
	border-bottom: 1px solid black
  }
  
  .nav:hover .menu li a:hover{
	color: #ccc;
    background: #777;
  }
  
  .nav:hover .menu {
    display: block;  
    position: relative;
	top: 56px;
    box-shadow: none;
    width: 40%;
	padding: 0;
  }
}